body {

background-color: #ffffff;
}
ul {
element.style {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    list-style: none;
}
}
h1 {
    color: #000000;
    text-align: center;
    background-color: #ff0101;
    top: 100px;
    border-color: #9a0404;
    border-width: 5px;
    border-style: solid;
}
h2 {
    text-align: center;
    background-color: #ffff00;
    border-color: #bbbb08;
    border-width: 3px;
    border-style: solid;
}
li {
    width: 280px;
    height: 280px;
    border-color: #000000;
    border-width: 5px;
    border-style: solid;
    align-content: center;
    text-align: center;
}